Package: com.twotrees.nobackgroundphotoaccess
Name: NoBackgroundPhotoAccess
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Prevents apps from accessing photos in the background
Maintainer: twotrees
Author: twotrees.zf@gmail.com
Section: Tweaks
